*
body
{
    font-family: Helvetica;
    background-color: #e2bcbc;
    color: blue;
    margin: 50px;
}
a:hover
{
    color: red;
}
a:active
{
    color: black;
}
.btn
{
    background-color: yellow;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border: #7e2222 solid;
}
.btn:hover
{
    background-color: red;
    color: white;
}
.container
{
    font-family: sans-serif;
    color: brown;
    width: 80%;
    margin: auto;
}
.box-1
{
    background-color: #333333;
    color: #fff;
    border-top: 5px red solid;
    border-bottom: 5px blue solid;
    border-right: 5px yellow solid;
    border-left: 5px green solid;

    padding: 20px;
}
.box-1 p1
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-transform: lowercase;
    letter-spacing: 0.2cm;
    word-spacing: 1em;
}

.box-2
{
    border: 3px dotted #965555;
    padding: 20px;
    margin: 10px 1px;
}
.categories
{
    border: 5px solid #7e2222;
    background-color: yellow;
    padding: 20px;
    border-style: dashed;
    border-radius: 15px;
}
.categories ul
{
    padding: 20px;
    list-style: square;
}
.categories li
{
    padding-bottom: 1px;
    border-bottom: solid 1px white;
}
.my-form
{
    padding: 20px;
}
.my-form .form-group
{
    padding-bottom: 15px;
}
.my-form label
{
    display: block;
}
.my-form input[type="text"], .my-form textarea, .my-form input[type="email"]
{
    padding: 9px;
    width: 100%;
}
.block
{
    float: left;
    width: 33.3%;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
#main-block
{
    float: left;
    width: 70%;
}
#sidebar
{
    float: right;
    width: 30%;
    background-color: rgb(99, 43, 43);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.position-box
{
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 500px;
}
.position-box h1
{
    position: absolute;
    top: 40px;
    padding-left: 10px;
}
.position-box h2
{
    position: absolute;
    top: 40px;
    padding-right: 10px;
}